/* ! General style of the website */
body{
  font-family: 'Nunito';
  font-size: 1.32vw;
  background-color: #FAFAFC;
  right: 0;
  top: 0;
  padding: 0;
  overflow-x: hidden;
}

a{ text-decoration: none; cursor: pointer; color: #000074;}


/* Top-button */
.top-button{
  background-color: #FAFAFC;
  position: fixed;
  z-index: 100;
  bottom: 3vw;
  right: 3vw;
  border: 0.1vw solid rgba(0, 0, 116, 0.2);
  border-radius: 2vw;
  width: 4vw;
  height: 4vw;
}

.top-button img{
  width: 4vw;
  height: 4vw;
}


/* Header popup */
.header-popup{
  position: absolute;
  display: none;
  opacity: 0;
  top: 5vw;
  left: 56.1vw;
  border: 0.1vw solid rgba(0, 0, 116, 0.2);
  border-radius: 0.45vw;
  z-index: 100;
  padding: 0.8vw 1.6vw;
  width: 4vw;
  transition: all 0.25s cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.header-popup a h4{
  color: #000074;
  margin: 0.5vw 0;
  font-size: 1.1vw;
  font-weight: 200;
}


/* Header */
header{
  width: 90vw;
  padding: 2vw 5vw;;
  display: flex;
}

header .logo{
  position: static;
  padding: 1.1vw 6vw 0.9vw 0;
  height: 1.45vw;
}

header .links{
  display: flex;
  margin: 0 auto;
}

header .links h4{
  color: #000074;
  font-size: 1.1vw;
  font-weight: 300;
  padding-top: 1.3vw;
  margin: 0 3vw 0.44vw 0;
}

#selected-page{
  color: rgb(200, 16, 46);
  font-weight: 400;
}

/* Button */
#header-button button{
  border: 0.1vw solid #C8102E;
  color: #C8102E;
  background-color: rgba(0, 0, 0, 0);
  width: 9.4vw;
  height: 3.7vw;
  cursor: pointer;
  border-radius: 1.9vw;
  padding-top: 0.1vw;
  font-family: 'Nunito';
  font-size: 1.1vw;
  font-weight: 600;
}

#header-button button:hover{
  background-color: #C8102E;
  color: #FAFAFC;
  transition: all 0.14s cubic-bezier(.17, .67, .86, .58);
}

button:active{
  transition: all 0.01 cubic-bezier(0.19, 1, 0.22, 1);
  transform: scale(0.96);
}

/* Underline animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.073vw;
  bottom: -0.37vw;
  left: 0;
  background-color: #C8102E;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Titile */
.title {
  width: 100vw;
  margin-top: 5vw;
}

.title .line {
  width: 100%;
  height: 5vw;
  display: grid;
  place-content: center;
  padding-bottom: 0.8vw;
}

.title .line h1 {
  font-size: 5.5vw;
  font-weight: 700;
  color: #000074;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  padding-bottom: 0.3vw;
}

.char {
  transform: translateY(8.5vw);
  transition: transform .5s;
}


/* Titile */
.image-slider{
  width: 90vw;
  margin: 7vw 5vw 1vw 5vw;
  height: 45vw;
  position: relative;
}

.image-slider div{
  background-size: cover;
  width: 80vw;
  height: 40vw;
  margin: auto 5vw;
  position: absolute;
  border-radius: 1vw;
  border: 0.05vw solid #fff;
}

.image-slider .image-1{
  background-image: url('resources/img-1.webp');
  z-index: 3;
}

.image-slider .image-2 {
  background-image: url('resources/img-2.webp');
  z-index: 2;
}

.image-slider .image-3 {
  background-image: url('resources/img-3.webp');
  z-index: 1;
}


/* Text reveal */
.text-reveal{
  text-align: center;
  margin-bottom: 50vh;
}

.text-reveal h3 {
  color: #000074;
  text-transform: uppercase;
  font-size: 1.8vw;
  font-weight: 100;
  margin-bottom: 2vh;
  opacity: 0.5;
}

.text-reveal h2{
  color: #000074;
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.3;
}


/* Introduction */
.introduction{
  margin-top: 8vw;
}

.introduction-title{
  background-color: rgba(0, 0, 116, 0.03);
  width: max-content;
  margin: 0 auto;
  border-radius: 3.1vw;
}

.introduction-title h3{
  font-size: 1.8vw;
  font-weight: 100;
  color: #000074;
  text-transform: uppercase;
  padding: 2.3vw 4vw 1.9vw 4vw;
}

.introduction-title span{
  font-weight: 700;
  color: #C8102E;
}

.introduction-content{
  display: flex;
  width: 100vw;
  white-space: nowrap;
}

.introduction-content .block{
  display: flex;
  width: 66vw;
  margin: 5vw 17vw;
}

.introduction-content .texts{
  width: 33vw;
  display: flex;
  align-items: center;
}

.introduction-content .texts p{
  color: #000074;
  font-size: 2.3vw;
  font-weight: 100;
  line-height: 1.3;
}

.introduction-content .texts span{
  font-weight: 600;
}

.introduction-content .images{
  border: 0.1vw solid #CCCCE3;
  width: 33vw;
  height: 18.56vw;
  border-radius: 1vw;
  background-size: cover;
  background-position: center center;
}

#c-1 { background-image: url("resources/c-video.webp");}
#c-2 { background-image: url("resources/card-2.webp");}
#c-3 { background-image: url("resources/card-3.webp");}
#c-4 { background-image: url("resources/card-4.webp");}
#c-5 { background-image: url("resources/card-5.webp");}
#c-6 { background-image: url("resources/card-6.webp");}
#c-7 { background-image: url("resources/card-7.webp");}
#c-8 { background-image: url("resources/card-8.webp");}
#c-9 { background-image: url("resources/card-9.webp");}
#c-10 { background-image: url("resources/card-10.webp");}
#c-11 { background-image: url("resources/card-11.webp");}
#c-12 { background-image: url("resources/card-12.webp");}


/* Footer */
.footer{ width: 100vw; margin: 15vw 0 3vw 0;}
.footer img{ width: 7vw; margin: 1.5vw 46.5vw; opacity: 100%;}

.footer p{
  font-weight: 100;
  font-size: 1.16vw;
  line-height: 1.25;
  padding-top: 0.3vw;
  text-align: center;
  color: #000075;
}